<!-- <div class="limiter">

  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" [formGroup]="loginForm">

        <span class="login100-form-title" style="background: blueviolet">
          <h1>Login</h1>
        </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
          <input class="input100" name="email" formControlName="email" type="email" #user placeholder="E-Mail"
            autofocus>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Please enter password">
          <input class="input100" type="password" name="pass" formControlName="password" #password placeholder="Senha">
          <span class="focus-input100"></span>
        </div>

        <div class="text-right p-t-13 p-b-23">
          <span class="txt1">
            Esqueceu
          </span>

          <a href="#" class="txt2">
            Usuário / Senha
          </a>
        </div>

        <div *ngIf="submitted && this.loginForm.controls['email'].invalid" class="invalid-feedback text-center">
          <div *ngIf="this.loginForm.controls['email'].errors.required" style="color:red">O campo E-Mail é obrigatório
          </div>
          <div *ngIf="this.loginForm.controls['email'].errors.email" style="color:red">O campo E-Mail precisa ser um
            e-mail
            válido</div>
        </div>
        <div *ngIf="submitted && this.loginForm.controls['password'].invalid" class="invalid-feedback text-center">
          <div *ngIf="this.loginForm.controls['password'].errors.required" style="color:red">O campo Senha é obrigatório
          </div>
        </div>


        <div *ngIf="isLogin && isFailure" class="text-center alert alert-block alert-danger fade in">
          <strong>Falha no login! </strong>{{alertFailMsg}}
        </div>

        <div *ngIf="isLogin && isSuccess" class="text-center alert alert-block alert-success fade in">
          <strong>Sucesso! </strong>{{alertSuccessMsg}}
        </div>

        <br>
        <div class="container-login100-form-btn" style="margin: 10px">
          <button type="submit" (click)="logOn(user.value,password.value)" mat-raised-button
            color="primary">Entrar</button>

        </div>


      </form>
    </div>
  </div>




</div> -->


<div class="main-div" style="margin: 10px">
    <mat-card class="example-card">
        <div style="background: white">
            <img src="/assets/img/logo.png">
        </div>
        <div style="width: 100%; margin-top: 20px">
            <mat-card-content>
                <form class="example-form">
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </form>
                <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
        </div>

        <div class="main-div">
            <mat-card-actions>
                <button mat-raised-button (click)="login()" color="primary">Login</button>
            </mat-card-actions>
        </div>
        <a href="#" class="txt1">
            Esqueceu Senha
        </a>
    </mat-card>
</div>